body * {
    margin: 0;
    padding: 0;
}

ol li {
    margin: 5px 50px;
}

ul li {
    list-style: none;
    margin-left: 10px;
}

.code, .code_calc {
    background-color: lightgray;
    border: 2px solid blue;
    padding: 5px;
    margin: 5px 0;
}

.code_calc {
    max-height: 250px;
    overflow: scroll;
}

.operator {
    width: 230px;
    padding: 5px;
    text-align: center;
}

.textarea {
    width: 400px;
    height: 50px;
    min-width: 300px;
    min-height: 50px;
    border: 1px solid royalblue;
    border-radius: 5px;
    padding: 5px;
    outline: 0 !important;
}

.textarea:focus {
    border: 1px solid red;
}

.images {

}

.images img {
    height: 200px;
    padding-right: 10px;
}

.comment {
    border: 1px solid gray;
    margin: 10px;
    margin-bottom: 20px;
    width: 500px;
    background-color: royalblue;
    padding: 5px;
    border-radius: 5px;
    color: white;
    box-shadow: 3px 3px 3px gray;
}

.number {
    height: 20px;
}

.submit {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: none;
    box-shadow: 2px 2px 2px gray;
    outline: 0 !important;
}

.submit:hover {
    background-color: orangered;
}

.submit:active {
    outline: 0 !important;
    background-color: blue;
    box-shadow:
            inset 2px 2px 2px orangered,
            inset -2px -2px 2px orangered;
}



